<ng-container *ngIf="tickerStoreService.ticker$ | async as ticks">
  RNG: {{ tickerStoreService.rngChoice }}, Interval:
  {{ tickerStoreService.timeInterval.toPrecision(2) }}, Open PnL:
  {{ openPL.toPrecision(2) }}
  <br />
</ng-container>
<div class="zzz">
  <div class="zzz2" [style.width.px]="svgWidth">
    <div id="btn-bar">
      <button id="restart-btn" (click)="onRestart()">Restart</button>
      <button id="pause-btn" (click)="onTogglePause()">
        {{ tickerStoreService.paused ? "Resume" : "Pause" }}
      </button>
      <button
        id="scroll-back-btn"
        (click)="tickerStoreService.shiftVisibleWindow(200)"
      >
        &lt;&lt;
      </button>
      <button
        id="scroll-forward-btn"
        (click)="tickerStoreService.shiftVisibleWindow(-200)"
      >
        &gt;&gt;
      </button>
      <br />
      <button id="slowdown-btn" (click)="tickerStoreService.slowDown()">
        -
      </button>
      <button id="speedup-btn" (click)="tickerStoreService.speedUp()">+</button>
      <button id="buy-btn" (click)="onBuyClick()">
        {{ openTrade ? "Close" : "Buy" }}
      </button>
      <button id="sell-btn" (click)="onSellClick()">
        {{ openTrade ? "Close" : "Sell" }}
      </button>
    </div>
    <canvas
      #canvas
      [attr.width]="svgWidth"
      [attr.height]="svgHeight"
      (mousemove)="onMouseMove($event)"
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp($event)"
    ></canvas>
  </div>
</div>
<div id="tradeTable">
  <div *ngFor="let trade of trades">
    <span> {{ trade.direction }} </span>
    <span> {{ trade.profit }} </span>
  </div>
</div>
<div *ngIf="profitTotal">Total profit {{ profitTotal }}</div>

<br />
<ng-container *ngIf="tickerStoreService.ticker$ | async as ticks">
  <div class="zzz"></div>
</ng-container>

<router-outlet></router-outlet>
